body {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-secondary {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing:3px;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive, 'sans-serif';
  background-image: linear-gradient(to right, $color-secondary, $color-quaternary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
  @media only screen and (max-width: $bp-largest) {
    font-size: 2.75rem;
  }
  
  @media only screen and (max-width: $bp-large) {
    font-size: 2.2rem;
    text-align: center;
    padding: .4rem 0;
  }
}

.heading-secondary-1 {
  font-size: 2.8rem;
  margin-top: .7rem;
  align-self: center;
  text-align: center;

  @media only screen and (max-width: $bp-largest) {
    font-size: 2.3rem;
    padding-top: 4px;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 1.8rem;
    padding-top: 3px;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.6rem; 
    
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.4rem; 
  }
}