// Colors

$color-primary: #93E4C1;
$color-secondary: #3BAEA0;
$color-tertiary: #118A7E;
$color-quaternary: #1F6F78;
$color-orange: rgb(241, 151, 66);
$color-white: #fff;
$color-grey-light: #dee2e6;
$color-grey-medium: #adb5bd;
$color-grey-dark: #495057;

// bg colors
$bg-color-1: #0999b4;
$bg-color-7: #1c9c2d;
$bg-color-2: #967f1d;
$bg-color-3: #b9051c;
$bg-color-4: #9e186b;
$bg-color-5: #b63600;
$bg-color-6: #190eb2;

$bg-color-8: #c28f02;
$bg-color-9: #426979;
$bg-color-10: #3BAEA0;
$bg-color-11: rgb(241, 151, 66);
$bg-color-12: #1F6F78;
$bg-color-13: tomato;
$bg-color-14: skyblue;

// Navbar mesurements

$nav-sub-width: 15rem;
$nav-sub-height: 3.3rem;